*{
    padding: 0;
    margin: 0;
}
#center{
    position: absolute;
    z-index: 1;
    top: 10rem;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
#center h1{
    font-size: 4rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.myimg50{
    height: 40rem;
    width: 100rem;
}
#center1{
    position: absolute;
    z-index: 1;
    top: 10rem;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
#center1 h1{
    font-size: 4rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
#services{
    background-color: #f9faf7;
}
.card1{
    background-color: #ffffff;
    
}
.card2{
    
    background-color: #ffffff;
}
.card3{
    
    background-color: #ffffff;
}
.card4{
    
    background-color: #ffffff;
}
.card5{
    
    background-color: #ffffff;
}
#Project{
    background-color: #f4f6f1;
}
.project-card1{
    background-color: #ffffff;
}
.project-bt{
    border-radius: 0.6rem;
}
.img-round {
    border-radius: 50%;
}
.card11{
    background-color: rgba(255, 255, 255, 0.142);
}
#Volunteer{
    background-color: #f9faf7;
}
.card-volunter{
    border-radius: 50%;
    height: 12rem;
    width: 12rem;
    margin: -5rem;
}
#Volunteer-cards{
    padding-top: 7rem;
    display: flex;
    justify-content: center;
    margin: 2rem;
}
.body-voluntercard{
    margin-top: 6rem;
}
#Customers{
    background-color: #f4f6f1;
}
.customer-cardimg{
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
}
#Care-card{
    background-color: #f9faf7;
}
#blog{
    background-color: #f9faf7;
}
#contact{
    background-image: url('./pexels-pratik-chavan-18786334.jpg');
    background-position:center;
    background-size: cover;
    height: 30rem;
}
.contact-img{
    border-radius: 0.4rem;
}
#copyright{
    background-color: #1c1c1c;
}